.hamburger-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  font-size: 1.1em;
  transition: all 0.3s ease;
}

.hamburger-button:focus {
  outline: none;
  color: blue;
}

.fa-bars {
  transition: opacity 0.3s, transform 0.3s;
}

.fa-times {
  transition: opacity 0.3s, transform 0.3s;
}

.fa-times:active {
  opacity: 0;
}

.fa-bars:active {
  opacity: 0;
}
