.hamburger-button {
  margin-right: 1em;
  background-color: transparent;
  border: 0;
  z-index: 2;
  font-size: 1.1em;
  transition: all 0.3s ease;
}

.hamburger-button:focus {
  outline: none;
  color: blue;
}

.button-container {
  display: flex;
}
